/* You can add global styles to this file, and also import other style files */
/*@font-face {
    font-family: 'Roboto';
    src: url('./assets/font/Roboto-Regular.ttf')  format('truetype');
    src: url('./assets/font/Roboto-Black.ttf')  format('truetype');
    src: url('./assets/font/Roboto-BlackItalic.ttf')  format('truetype');
    src: url('./assets/font/Roboto-Bold.ttf')  format('truetype');
    src: url('./assets/font/Roboto-BoldItalic.ttf')  format('truetype');
    src: url('./assets/font/Roboto-Italic.ttf')  format('truetype');
    src: url('./assets/font/Roboto-Light.ttf')  format('truetype');
    src: url('./assets/font/Roboto-LightItalic.ttf')  format('truetype');
    src: url('./assets/font/Roboto-Medium.ttf')  format('truetype');
    src: url('./assets/font/Roboto-MediumItalic.ttf')  format('truetype');
    src: url('./assets/font/Roboto-Regular.ttf')  format('truetype');
    src: url('./assets/font/Roboto-Thin.ttf')  format('truetype');
    src: url('./assets/font/Roboto-ThinItalic.ttf')  format('truetype');
    font-weight: 600;
}*/


body {  
    margin: 0;
    padding: 0;
    background: rgb(240,240,240);
    /*height: 100%;*/
    font-family: 'Open Sans', Arial, 'sans-serif'; 
    /*300 14px/20px 'open sans'*/
    font-style: normal;
    font-size: 14px;
}

input:focus, [contenteditable="true"] {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}